/* header */
/* navbar */
.headerBg {
  background: linear-gradient(90deg, #d3eaff40, #ffffff, #d3eaff40) ; 
  min-height: 400px;
}



ul li {
    text-decoration: none;
}

.nav-li {
    display: flex;
}

.navLink{
    gap: 20px;
}

.ioApps{
    color: gray;
}

.navbar-nav .nav-link {
  color: #000 
}

.navbar-nav .nav-link:hover {
  color: blue
}

.navbarDiv{
    
}













.icon-div {
    width: 56px;
    height: 56px;
    background-color: #E9EBF1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 25px;
    color: #000;
}


/* top products */
.products {
    background-color: #F3F4F6;
    padding: 6px 0px 4rem 0px;
}

.card-div {
    align-items: center;
    justify-content: center;
}

.card1 {
    height: 410px;
    max-width: 366px;
    background-color: white;
    overflow: hidden;
}

.dollarSize {
    font-size: 28px;
    font-weight: bold;
    color: black;

}

/* sponsored */
.sponsored {
    /* height: 42px; */
}