.icon-div {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    /* fully rounded */
    background-color: #E9EBF1;
}

.icon {
    padding: 2px 6px;
    margin: 4px;
    font-size: 30px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

/* top products */
.div-parent {
    background-color: #F3F4F6;
    padding: 6px 0px 4rem 0px;
}

.card-div {
    align-items: center;
    justify-content: center;
}

.card1 {

    height: 410px;
    max-width: 366px;
    background-color: white;
    overflow: hidden;
}

.dollarSize {
    font-size: 28px;
    font-weight: bold;
    color: black;

}

/* sponsored */
.sponsored{
    /* height: 42px; */
}