.timeline-section {
  text-align: center;
  background: #f9f9f9;
  padding: 80px 80px;
}

.timeline-title {
  font-size: 44px;
  font-weight: 500;
  color: #2A2A2A;
  margin-bottom: 10px;
}

.timeline-subtitle {
  font-size: 16px;
  color: #555555;
  margin: 0 auto 60px;
  line-height: 1.6;
}

/*  */
/* === container === */
.process-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* gap: 50px; */
}

/* === each item === */
.process-item {
  position: relative;
  width: 165px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* positioning */
.process-item.top {
  align-items: flex-start;
}

.process-item.center {
  align-items: center;
}

.process-item.bottom {
  align-items: flex-end;
}

/* === buttons === */
.process-btn {
  padding: 10px 20px;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-right: 2px;
}

/* === dotted lines === */
.dotted-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  border-left: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.dotted-line.left {
  left: 0;
}

.dotted-line.right {
  right: 0;
}

/* === moving dot animation === */
/* .dot {
  width: 10px;
  height: 10px;
  background: #007CE8;
  border-radius: 50%;
  position: absolute;
  animation: moveUpDown 3s ease-in-out infinite;
} */

@keyframes moveUpDown {
  0% { top: 0%; }
  50% { top: 90%; }
  100% { top: 0%; }
}

/* === responsive === */
@media (max-width: 1024px) {
  .process-container {
    gap: 0px;
  }
}

@media (max-width: 768px) {
  .process-container {
    flex-wrap: wrap;
    gap: 30px;
  }
  .process-item {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .process-item {
    width: 100px;
    height: 180px;
  }
  .process-btn {
    font-size: 12px;
    padding: 8px 12px;
  }
}


/*  */
