.webapp-section {
    /* padding: 80px 0; */
    
}

.webapp-image-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.webapp-image {
    max-width: 100%;
    height: auto;
}

.webapp-content {
    padding-left: 30px;
}

.webapp-title {
    text-align: start;
    font-size: 34px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.webapp-description {
    text-align: start;
    color: white;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.highlight {
    color: #54AFFF;
    font-weight: 600;
}

.webapp-features p {
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    background-color: #54AFFF;
    margin-right: 8px;
    font-size: 16px;
    border-radius: 50%;
}

.webapp-buttons {
    display: flex;
    margin-top: 20px;
}

.start-btn {
    background-color: #0088FF;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 500;
}

.start-btn:hover {
    background-color: #0056b3;
}

.case-btn {
    color: #8AC8FF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
}

.case-btn:hover {
    text-decoration: underline;
}

.webapp-features p {
    text-align: left;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* ✅ Responsive */
@media (max-width: 991px) {
    .webapp-title {
        font-size: 24px;
    }

    .webapp-content {
        padding-left: 18px;
        text-align: center;
        margin-top: 30px;

    }

    .webapp-features {
        /* justify-content: center; */
        text-align: start;
        font-size: 14px;
    }

    .webapp-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .case-btn {
        margin-left: 0;
    }
}



/* 📲 Tablet (601px - 991px) */
@media (min-width: 601px) and (max-width: 991px) {
    .webapp-parent-row {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .webapp-content {
        padding: 0px;
    }

    .webapp-title {
        text-align: center;
        padding: 0px;

    }

    .webapp-description {
        font-size: 14px;
        text-align: center;
        padding: 0px;

    }

    .webapp-features p {
        text-align: start;
        font-size: 9px;
    }

}

/* 💻 Laptop (992px - 1280px) */
@media (min-width: 992px) and (max-width: 1280px) {

    .webapp-image {
        height: 200px;
    }

    .webapp-title {
        font-size: 24px;

    }

    .webapp-description {
        font-size: 14px;

    }

    .webapp-features p {
        display: flex;
        text-align: start;
        font-size: 10px;
        
    }

    .start-btn {
        font-size: 14px;
        padding: 6px 8px;
    }

    .case-btn {
        font-size: 14px;
    }
}